@keyframes cardShine {
  0% {
    transform: translate(10%, 10%) rotateY(5deg) rotateX(5deg);
  }
  25% {
    transform: translate(-10%, 10%);
  }
  50% {
    transform: translate(-10%, -10%);
  }
  75% {
    transform: translate(10%, -10%);
  }
  100% {
    transform: translate(10%, 10%);
  }
}

@keyframes cardAmbient {
  0% {
    transform: rotateY(5deg) rotateX(5deg);
  }
  25% {
    transform: rotateY(-5deg) rotateX(5deg);
  }
  50% {
    transform: rotateY(-5deg) rotateX(-5deg);
  }
  75% {
    transform: rotateY(5deg) rotateX(-5deg);
  }
  100% {
    transform: rotateY(5deg) rotateX(5deg);
  }
}

.takeaway__backdrop {
  position: fixed;
  z-index: 2;
  padding: 50px;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #0009;
  backdrop-filter: blur(10px);
  perspective: 800px;

  & > button {
    position: fixed;
    bottom: 20px;
  }
}

.takeaway__card__shine {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 0) 80%
  );

  animation: cardShine 10s infinite ease-in-out;
}

.takeaway__card {
  overflow: hidden;
  aspect-ratio: 3 / 4;
  width: min(100%, 400px);

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;

  transform-style: preserve-3d;
  animation: cardAmbient 10s infinite ease-in-out;

  border: 8px solid black;
  border-radius: 10px;
  background-image: url('/assets/card/back.webp');
  background-size: 200px;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;

  & > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;

    p {
      margin: 0;
      font-size: 15px;
    }

    button {
      padding: 0;
      margin-right: -10px;
      height: 30px;
      width: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: inherit;
      font-family: inherit;
      background-color: transparent;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0;
      margin: 2px 0;
    }
  }
}

.takeaway__card__trophy {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  h2 {
    text-transform: uppercase;
  }

  h2,
  i {
    margin: 0;
  }

  img {
    padding: 20px;
    align-self: center;
    object-fit: contain;
    width: 80%;
    height: auto;
  }
}
