.playPauseButton {
  background-color: transparent;

  position: relative;
  pointer-events: all;
  padding: 5px;
  width: 50px;
  height: 50px;

  rect {
    fill: 'red';
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
    opacity: 0.2;
  }
}
