.overlay_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: green;
  transform-origin: top left;
  scale: 1 0;
}
