.runningTrack {
  width: 100%;
  height: 300px; /* Ajustez la hauteur selon vos besoins */
  background-image: url('/tapis_small.jpg');
  background-size: contain; /* Ajustez la taille de l'image pour qu'elle soit entièrement visible */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image */
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
