.container {
  position: absolute;

  left: 60px;
  top: 20px;
  bottom: 30px;
  width: 180px;

  overflow: hidden;
}

.scroller {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
  }
}
