.container {
  position: absolute;

  left: 55px;
  top: 30px;
  bottom: 40px;
  width: calc(100% - 110px);

  overflow: hidden;
}

.scroller {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
  }
}
