* {
  box-sizing: border-box;
}

html body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-chakra-petch), sans-serif;
  background-color: #ddd;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p {
  font-size: 20px;
}

.text {
  &__small {
    font-size: 12px;
  }

  &__medium {
    font-size: 16px;
  }

  &__large {
    font-size: 20px;
  }
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.label {
  font-size: 15px;
}
